body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
}

p {
    width: 60%;
    padding-top: 5px;
    margin: auto;
    text-align: justify;
}

p a {
        color: #888888;
        text-decoration: underline;
    }

@keyframes blink {
    0% {opacity: 1.0;}
    50% {opacity: 0.0;}
    100% {opacity: 1.0;}
}  

.blink {
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


h2 {
    margin-top: 50px;
    padding-top: 50px;
}

h3 {
    margin-top: 30px;
    padding-top: 30px;    
}


.content {
    width: 90%;
    margin: auto;
    overflow: auto;
}

.container {
    width: 90%;
    margin: auto;
    overflow: auto;
    margin-bottom: 30px;
    padding-bottom: 30px; 
}

header {
    background-color: #333;
    color: #FFF;
    padding-top: 5px;
    min-height: 15px;
}

footer {
    background-color: #333;
    color: #FFF;
    padding-top: 20px;
    padding-bottom: 10px;    
    min-height: 30px;
}

header a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header ul {
    margin: 0;
    padding: 0;
}

header .title {
    float: left;
}

header .nav {
    float: right;
    margin-top: 10px;
}

footer a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

footer li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer .title {
    float: left;
}

footer .nav {
    float: right;
    margin-top: 10px;
}

.main {
    padding: 20px;
    background: #fff;
    color: #C33;
}

img {
    width: 60vw;    /* adjust as needed */
    height: auto;
    border-radius: 10px; /* adjust as needed */
    object-fit: contain; 
}

button {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #FFC107;
    color: black;
}

table {
    border-collapse: collapse;  /* removes the space between borders */
    width: 100%; /* full width */
    margin-bottom: 2em; /* add some margin at the bottom */
    text-align: center; /* center the text */
    overflow: auto;
}

th, td {
    border: 1px solid #dddddd; /* border around cells */
    text-align: left;  /* align text to the left */
    padding: 8px;  /* padding inside each cell */
}

th {
    background-color: #f3f3f3;  /* a light background for headers */
    color: black;
}

tr:nth-child(even) {
    background-color: #f2f5fe; /* a light background for even rows */
}

tr:hover {
    background-color: #ddd;  /* a slightly darker background when hovering over a row */
}

.loader {
  /*...your existing styles...*/
  display: none;
}

/* Add a .loading class to control the display */
.loading {
  display: block !important;
}

.table-no-fancy {
    /* you can customize these styles */
    background-color: white !important;
    color: black !important;
}

.table-no-fancy thead {
    background-color: white !important;
    color: black !important;
}

.table-no-fancy tr {
    background-color: white !important;
}

.table-no-fancy tr:hover {
    background-color: white !important;
}

.table-no-fancy tr:nth-child(even) {
    background-color: white !important;
}

.table-no-fancy th {
    background-color: white !important;
}

input[type="submit"] {
    background-color: #A0A0A0; 
    color: white; 
    padding: 14px 20px; 
    margin: 8px 0;
    border: none; 
    cursor: pointer;  
    opacity: 0.9; 
    transition: 0.3s;
}

input[type="file"]:hover {
    opacity: 1;
}


input[type="submit"]:hover {
    opacity: 1;
}

.positive {
            color: #00a;
        }

.negative {
            color: #800;
        }


/* This will style the header */
header {
  background-color: #A0A0A0;
  color: white;
  padding: 15px;
}

/* This will style the navigation bar */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* This will style the individual items in the navigation bar */
nav ul li {
  display: inline-block;
  margin-right: 15px;
}

/* This will style the links in the navigation bar */
nav ul li a {
  color: white;
  text-decoration: none;
}



