<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<header>
  <nav>
    <ul>
      <li><strong>df.&#x2118;()</strong>
</li>
      <li><a href="/">Home</a></li>
      <!-- Add more navigation links here -->
    </ul>
  </nav>
</header>
<body>
  <h1 style="color: red">An error has occurred while reading your csv file</h1>
  <h4 style="color: #A0A0A0">{{ error_message }}</h4>
  <p> </p>
  <p> </p>
  <p> </p>
  <h4 style="color: red">Please ensure the csv file looks something like this:</h4>
  <p> </p>
  <pre style="color: #A0A0A0">
apple, banana,    fig,   mango
   61,   -0.8,   44.2,     0.0
-0.01,    0.5, 123.99, -100.04
  0.6,    1.1,  400.0, -121456
   NA,     NA,   61.2,     0.0
   61,     61,     61,      61
    1,   0.61,     61,      62
  </pre>

</body>
</html>
