<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
    <title>Data Analysis Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<header>
  <nav>
    <ul>
      <li><strong>df.&#x2118;()</strong>
</li>
      <li><a href="/">Home</a></li>
      <!-- Add more navigation links here -->
    </ul>
  </nav>
</header>
    <div class="container">
        <h1>Data Analysis Report for <em>{{file}}</em></h1>
        <h2>Clustering</h2>
        <p>We run k-medoids on the numeric columns of your dataset, choosing the number of clusters that maximizes the average silhouette width, between 2 and 10.</p>
        <p>K-medoids, also known as PAM, is a partitioning method. All data points are assigned to exactly one cluster.</p>
        <p>Your data set is standardized using RobustScaler before clustering.</p>
        <h3>Optimal number of clusters</h3>
        <p>We show the average silhouette width as a function of the number of clusters. The number of clusters corresponding to the maximum value can be taken to be the intrinsic number of clusters in your data set.</p>
        <img src="{{ url_for('static', filename='images/' + upload_id + '_sil.png') }}" alt="Silhouette score as a function of the number of clusters">
        <p>The optimal number of clusters was found to be {{number_of_clusters}}, corresponding to an average silhouette
        width of {{max_sil}}.</p>
        <p>Silhouette width takes values between -1 and 1. As a rule of thumb, an average value of 0.7 or above indicates strong clustering structure, and a value of 0.25 or below suggests that no substantial structure has been found.</p>
        <h3>Medoids</h3>
        {{ result | safe }}
        <p>Here we report the medoids, which are actual data points selected to be central in each cluster.</p>
        <img src="{{ url_for('static', filename='images/' + upload_id + '_medoids.png') }}" alt="Medoids as a radar plot">
        <p>Medoids shown as a radar plot.</p>
    </div>
</body>

</html>