<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
    <title>Data Analysis Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><strong>&#x265C;</strong></li>
      <li><a href="/">Home</a></li>
      <!-- Add more navigation links here -->
    </ul>
  </nav>
</header>
    <div class="container">
        <h1>Data Analysis Report for {{file}}</h1>
        <p>Number of Rows: {{ num_initial_instances }}</p>
        <p>Number of Rows that contain NAs: {{ num_instances_nan }}</p>
        <p>Number of Rows, after dropping NAs: {{ num_instances }}</p>
        <p>Columns with NAs (NA count): {{ columns_with_NAs }} </p>
        <p>Number of Columns: {{ num_columns }}</p>
        <p>Number of Numeric Variables: {{ num_numeric }}</p>
        <p>Number of Categorical Variables: {{ num_categorical }}</p>
        <p>Number of Duplicated Rows: {{ num_duplicated_instances }}</p>
        <p></p>
        <!-- Display univariate analysis -->
        <h2>Univariate Analysis</h2>
        <div id="univariate_analysis">
            {{ univariate_analysis_0 | safe }}
            {{ univariate_analysis_1 | safe }}
            <p>We test unimodality using Hartigan's dip test and normality  with Shapiro's test. Lognormality is tested by taking the log and testing for normality. The threshold for all p-values is 0.05.</p>
                    <p></p>            
            <h3>Box plot</h3>
            <img src="{{ url_for('static', filename='images/violin_plot.png') }}" alt="Strip Plot">
                    <p></p>
            <h3>Histograms</h3>
            <p>Click on histogram thumbnails to enlarge and download</p>  

<table class="table-no-fancy">
    <tr>
        {% for column in num_columns_list %}
        <td>
            <a href="{{ url_for('static', filename='images/histograms/histogram_' + column + '.png') }}">
            <img src="{{ url_for('static', filename='images/histograms/histogram_' + column + '.png') }}" alt="{{ column }} Histogram" style="max-width: 150px; max-height: 150px;">
        </a>
        </td>
        {% if loop.index is divisibleby 5 %} <!--Change the '5' to change the number of images per row-->
        </tr>
        <tr>
        {% endif %}
        {% endfor %}
    </tr>
</table>
        </div>

        <!-- Display bivariate analysis -->
                <p></p>
        <h2>Bivariate Analysis</h2>
                <p></p>
        <div id="bivariate_analysis">
            <h3>Correlation matrix</h3>
            {{ bivariate_analysis_0 | safe }}
            <h3>Correlation matrix (Spearman correlation)</h3>
            {{ bivariate_analysis_1 | safe }}
            <h3>Selected scatter plots</h3>
            <p>We select up to five pairs of variables with the highest mutual information. These are likely to be related in some fashion, so it is worth visualizing their scatter plots.</p>
        <img src="{{ url_for('static', filename='images/mipairsscatter.png') }}" alt="Scatter Plots of Mutually informative variables">
        </div>

    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
    $(document).ready(function(){
        $("#bivariate_analysis table td").each(function() {
            var num = parseFloat($(this).text());
            if (!isNaN(num)) {
                if (num > 0.5) {
                    $(this).addClass('positive');
                }
                if (num < -0.5) {
                    $(this).addClass('negative');
                }
            }
        });
    });
</script>
</body>
</html>
