<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
    <title>Data Analysis Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<header>
  <nav>
    <ul>
      <li><strong>df.&#x2118;()</strong>
</li>
      <li><a href="/">Home</a></li>
      <!-- Add more navigation links here -->
    </ul>
  </nav>
</header>
    <div class="container">
        <h1>Data Analysis Report for <em>{{file}}</em></h1>
        <h2>Clustering</h2>
        <h3>Optimal number of clusters</h3>
        <img src="{{ url_for('static', filename='images/' + upload_id + '_sil.png') }}" alt="Silhouette score as a function of the number of clusters">
        <h3>Medoids</h3>
        {{ result | safe }}
        <p>We run k-medoids on the numeric columns of your dataset, choosing the number of clusters that maximizes the average silhouette width, between 2 and 10.</p>
        <p>This table reports the medoids, which are actual data points selected to be central in each cluster.</p>


    </div>
</body>

</html>