<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
    <title>Data Analysis Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<header>
  <nav>
    <ul>
      <li><strong>df.&#x2118;()</strong>
</li>
      <li><a href="/">Home</a></li>
      <!-- Add more navigation links here -->
    </ul>
  </nav>
</header>
    <div class="container">
        <h1>Data Analysis Report for <em>{{file}}</em></h1>

<h2>Dataset snippet</h2>
{{ sampled_df_table | safe }}
<p>We show the first three rows of the dataset, followed by three rows sampled at random, and by the last three rows. In case there are less than ten rows, we show the whole dataset.</p>
<p>If the dataset has a large number of columns you may need to scroll right to see them all.</p>

<h2>General information</h2>

<table>
    <tr>
        <td>Number of Columns:</td>
        <td>{{ num_columns }}</td>
    </tr>
    <tr>
        <td>Number of Rows:</td>
        <td>{{ num_initial_instances }}</td>        
    </tr>
    <tr>
        <td>Number of Rows that contain NAs:</td>
        <td>{{ num_instances_nan }}</td>        
    </tr>
    <tr>
        <td>Number of Rows, after dropping NAs:</td>
        <td>{{ num_instances }}</td>
    </tr>
    <tr>
        <td>Columns with NAs (NA count):</td>
        <td>{{ columns_with_NAs }}</td>
    </tr>
    <tr>
        <td>Number of Numeric Columns:</td>
        <td>{{ num_numeric }}</td>
    </tr>
    <tr>
        <td>Number of Categorical or Date Columns:</td>
        <td>{{ num_categorical }}</td>
    </tr>
    <tr>
        <td>Number of Duplicated Rows:</td>
        <td>{{ num_duplicated_instances }}</td>
    </tr>
    <tr>
        <td>Constant Columns:</td>
        <td>{% for column in constant_columns %}{{column}}<br>{% endfor %}</td>
    <tr>
    <tr>
        <td>Date Columns:</td>
        <td>{% for column in date_columns %}{{column}}<br>{% endfor %}</td>
    <tr>   
</table>

<p>We find the missing values (NAs) or not-a-number values (NaN) in your dataset as long as they are coded in a standard way. We also identify other issues, such as constant columns and duplicated rows, which may suggest further preprocessing is needed. Date columns contain a date, according to our best guess. If your data is in time series format, consider using our timeseries tool.</p> 

<h2>Data integrity diagnostics</h2>
{{col_summary_table_html | safe}}

<p>We check whether your data contains weird, unexpected features that may suggest improper preprocessing or other issues. <a href='https://en.wikipedia.org/wiki/Benford%27s_law'>Benford's law</a> predicts the relative frequecy of the digit values of the leading digit of your data. Deviations from the law may suggest atypical data and have been used to detect fraudulent datasets.</p><p>We also try to detect rounding and whether a large fraction (over ten percent) of the values of a continuous column is identically equal to some constant. This may suggest that such a constant has been used to denote NAs, as sometimes happens in astronomical data with the constant -999.</p><p>Finally, we detect whether a column is almost identical to some other column, which may happen if some measurement and the rounded version of it are both recorded.<p>

        <!-- Display univariate analysis -->
        <h2>Univariate Analysis</h2>
        <div id="univariate_analysis">
        {% if num_numeric > 0 %}
        <h3> Descriptive statistics for continuous variables</h3>
            {{ univariate_analysis_0 | safe }}
        <h3> Distribution tests </h3>
            {{ univariate_analysis_1 | safe }}
            <p>We test unimodality using Hartigan's dip test (<a href='https://www.jstor.org/stable/2241144'>Hartigan &amp; Hartigan 1985</a>) and normality  with Shapiro's test (<a href='https://www.jstor.org/stable/2333709'>Shapiro &amp; Wilk 1965</a>). Lognormality is tested by taking the log and testing for normality; negative or zero values immediately rule out lognormality. The threshold for all p-values is 0.05.</p>
                    <p></p>            
            <h3>Boxplots for continuous variables</h3>
            <img src="{{ url_for('static', filename='images/violin_plot.png') }}" alt="Strip Plot">
                    <p></p>
                    <p>The box in the boxplot spans the interval between the first and the third quartile, which contains half of the data. The whiskers extend out by 1.5 times the length of the box. Any data point that falls outside the interval spanned by the whiskers is a suspected outlier. The vertical line inside the box represents the median.</p>
                    <p>If the columns of your dataset correspond to variables that have very different scales we split the plot so that only the boxplots which can be meaningfully compared end up in the same subplot.</p>
            {% endif %}
            {% if num_categorical > 0 %}
            <h3>Summary table for categorical variables</h3>
            {{ cat_stats | safe }}
            <p>Showing levels for each categorical variables up to 20 individual levels, corresponding to the levels with the highest counts. Entropy is a measure of how evenly distributed the values of a categorical variable are, with maximum entropy achieved if all levels contain the same number of observations.</p>
            <p>We also detect categorical variables that are a mere ID or name. These variables have one level per observation. We discard them in the subsequent analysis since they are not informative.</p>
            {% if num_plottable_categorical > 0 %}
            <h3>Barchart</h3>
        <img src="{{ url_for('static', filename='images/barchart.png') }}" alt="Barchart for categorical variables">
            <p>The barchart show the counts for each level of a categorical variable. If the number of levels exceeds 20, only the most frequent levels are shown, and the others are lumped together into the category <em>other</em>.
            {% endif %}            
            {% endif %}
            {% if num_numeric > 0 %}
            <h3>Histograms</h3>
            <p>We show a histogram for each continuous variable. Click on histogram thumbnails to enlarge and download the image.</p>  

<table class="table-no-fancy">
    <tr>
        {% for column in num_columns_list %}
        <td>
            <a href="{{ url_for('static', filename='images/histograms/histogram_' + column + '.png') }}">
            <img src="{{ url_for('static', filename='images/histograms/histogram_' + column + '.png') }}" alt="{{ column }} Histogram" style="max-width: 150px; max-height: 150px;">
        </a>
        </td>
        {% if loop.index is divisibleby 5 %} <!--Change the '5' to change the number of images per row-->
        </tr>
        <tr>
        {% endif %}
        {% endfor %}
    </tr>
</table>
        </div>
{% endif %}
        <!-- Display bivariate analysis -->
                <p></p>
        <h2>Bivariate Analysis</h2>
                <p></p>
            {% if num_categorical > 1 %}
            <h3>Categorical variables</h3>
            {{ cat_bivariate_stats | safe }}
            <p>We run chi-square tests on each couple of categorical variables to the exclusion of those who have as many levels as observations - those are row IDs or names. A significant test p-value rejects the null hypothesis that the two variables are statistically independent.</p>
            {% endif %}
        <div id="bivariate_analysis">
            {% if num_numeric > 0 %}
            <h3>Correlation matrix</h3>
            {{ bivariate_analysis_0 | safe }}
            <p>We compute <a href='https://en.wikipedia.org/wiki/Pearson_correlation_coefficient'>Pearson correlation</a> for each couple of continuous variables. Correlation coefficients below -0.5 are shown in red, above 0.5 in blue. Correlation coefficients may be misleading in the presence of outliers and may not adequately reflect non-linear relations.</p>
            <h3>Robust correlation matrix (Spearman correlation)</h3>
            {{ bivariate_analysis_1 | safe }}
            <p><a href='https://en.wikipedia.org/wiki/Spearman%27s_rank_correlation_coefficient'>Spearman correlation coefficients</a> are based on the rank of variables, so they are more robust to outliers and their modulus is invariant for monotonic transforms.</p>

            <h3>Selected scatter plots</h3>
            <p>We select up to ten pairs of variables with the highest <a href='https://en.wikipedia.org/wiki/Mutual_information'>mutual information</a>. These are likely to be related in some fashion, so it is worth visualizing their scatter plots.</p>
            <p>We use DirectLINGAM (<a href='https://www.jmlr.org/papers/volume12/shimizu11a/shimizu11a.pdf'>Shimizu et al. 2011</a>) to guess a causal order between each pair of variables, and we display the cause in the x-axis and the effect in the y-axis. Keep in mind that subject matter knowledge should be used to correctly ascertain causal relations.</p>
            <p>If the R-square of a linear regression exceeds 0.8 we also plot the regression line and display its equation.</p>
        <img src="{{ url_for('static', filename='images/mipairsscatter.png') }}" alt="Scatter Plots of Mutually informative variables">
        {% if num_numeric > 3 %}
        <h2>Multivariate Analysis</h2>
        <h3>Parallel coordinate display</h3>
        <img src="{{ url_for('static', filename='images/parcoord.png') }}" alt="Parallel coordinate display">
        <p>In a parallel coordinate display a curve corresponds to one row of your dataset. The point where the curve intersects the vertical segment corresponding to one of your variables represents the value of that variable for that row. To improve the plot's readability each variable has been scaled to [0, 1]</p>
        {% endif %}
        {% if num_numeric == 3 %}
        <h2>Multivariate Analysis</h2>
        <h3>3D scatterplot</h3>
        <img src="{{ url_for('static', filename='images/parcoord.png') }}" alt="Parallel coordinate display">
        <p>Your dataset contains only three continuous variables. We show them here in the form of a three-dimensional scatterplot.</p>
        {% endif %}
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
    $(document).ready(function(){
        $("#bivariate_analysis table td").each(function() {
            var num = parseFloat($(this).text());
            if (!isNaN(num)) {
                if (num > 0.5) {
                    $(this).addClass('positive');
                }
                if (num < -0.5) {
                    $(this).addClass('negative');
                }
            }
        });
    });
</script>
{% endif %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<script type="text/javascript">
    window.onload = function() {
        // Select all td elements in the document
        var cells = document.getElementsByTagName("td");

        // Regular expression to match numbers in scientific notation
        var scientificNotation = /(\d+(\.\d*)?|\.\d+)([eE][-+]?\d+)/g;

        // Go through all cells
        for (var i = 0; i < cells.length; i++) {
            // If the cell's text matches our regex
            if (scientificNotation.test(cells[i].innerHTML)) {
                // Replace the scientific notation with LaTeX format
                cells[i].innerHTML = cells[i].innerHTML.replace(scientificNotation, function(match, significand, _, exponent) {
                    return '\\(' + significand + ' \\times 10^{' + exponent.slice(1) + '}\\)';
                });
            }
        }

        // Typeset the page again with MathJax to update the new LaTeX notation
        MathJax.typesetPromise();
    }
</script>
</body>
</html>
