<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
    <title>Data Analysis Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><strong>df.&#x2118;()</strong>
</li>
      <li><a href="/">Home</a></li>
      <!-- Add more navigation links here -->
    </ul>
  </nav>
</header>
    <div class="container">
        <h1>Data Analysis Report for <em>{{file}}</em></h1>

<h2>Dataset snippet</h2>
{{ sampled_df_table | safe }} 

<h2>General information</h2>

<table>
    <tr>
        <td>Number of Columns:</td>
        <td>{{ num_columns }}</td>
    </tr>
    <tr>
        <td>Number of Rows:</td>
        <td>{{ num_initial_instances }}</td>        
    </tr>
    <tr>
        <td>Number of Rows that contain NAs:</td>
        <td>{{ num_instances_nan }}</td>        
    </tr>
    <tr>
        <td>Number of Rows, after dropping NAs:</td>
        <td>{{ num_instances }}</td>
    </tr>
    <tr>
        <td>Columns with NAs (NA count):</td>
        <td>{{ columns_with_NAs }}</td>
    </tr>
    <tr>
        <td>Number of Numeric Columns:</td>
        <td>{{ num_numeric }}</td>
    </tr>
    <tr>
        <td>Number of Categorical or Date Columns:</td>
        <td>{{ num_categorical }}</td>
    </tr>
    <tr>
        <td>Number of Duplicated Rows:</td>
        <td>{{ num_duplicated_instances }}</td>
    </tr>
    <tr>
        <td>Constant Columns:</td>
        <td>{% for column in constant_columns %}{{column}}<br>{% endfor %}</td>
    <tr>
    <tr>
        <td>Date Columns:</td>
        <td>{% for column in date_columns %}{{column}}<br>{% endfor %}</td>
    <tr>   

</table>

        <!-- Display univariate analysis -->
        <h2>Univariate Analysis</h2>
        <div id="univariate_analysis">
        {% if num_numeric > 0 %}
        <h3> Descriptive statistics for continuous variables</h3>
            {{ univariate_analysis_0 | safe }}
        <h3> Distribution tests </h3>
            {{ univariate_analysis_1 | safe }}
            <p>We test unimodality using Hartigan's dip test and normality  with Shapiro's test. Lognormality is tested by taking the log and testing for normality. The threshold for all p-values is 0.05.</p>
                    <p></p>            
            <h3>Box plots for continuous variables</h3>
            <img src="{{ url_for('static', filename='images/violin_plot.png') }}" alt="Strip Plot">
                    <p></p>
            {% endif %}
            {% if num_categorical > 0 %}
            <h3>Summary table for categorical variables</h3>
            {{ cat_stats | safe }}
            <p>Showing levels for each categorical variables up to 20 individual levels.</p>
            <h3>Barchart for categorical variables</h3>
        <img src="{{ url_for('static', filename='images/barchart.png') }}" alt="Barchart for categorical variables">
            {% endif %}
            {% if num_numeric > 0 %}
            <h3>Histograms</h3>
            <p>Click on histogram thumbnails to enlarge and download</p>  

<table class="table-no-fancy">
    <tr>
        {% for column in num_columns_list %}
        <td>
            <a href="{{ url_for('static', filename='images/histograms/histogram_' + column + '.png') }}">
            <img src="{{ url_for('static', filename='images/histograms/histogram_' + column + '.png') }}" alt="{{ column }} Histogram" style="max-width: 150px; max-height: 150px;">
        </a>
        </td>
        {% if loop.index is divisibleby 5 %} <!--Change the '5' to change the number of images per row-->
        </tr>
        <tr>
        {% endif %}
        {% endfor %}
    </tr>
</table>
        </div>
{% endif %}
        <!-- Display bivariate analysis -->
                <p></p>
        <h2>Bivariate Analysis</h2>
                <p></p>
            {% if num_categorical > 0 %}
            <h3>Categorical variables</h3>
            {{ cat_bivariate_stats | safe }}
            {% endif %}
        <div id="bivariate_analysis">
            {% if num_numeric > 0 %}
            <h3>Correlation matrix for continuous variables</h3>
            {{ bivariate_analysis_0 | safe }}
            <h3>Correlation matrix (Spearman correlation)</h3>
            {{ bivariate_analysis_1 | safe }}
            <h3>Selected scatter plots</h3>
            <p>We select up to ten pairs of variables with the highest mutual information. These are likely to be related in some fashion, so it is worth visualizing their scatter plots.</p>
            <p>We use DirectLINGAM to guess a causal order between each pair of variables, and we display the cause in the x-axis and the effect in the y-axis. Keep in mind that subject matter knowledge should be used to correctly ascertain causal relations.</p>
        <img src="{{ url_for('static', filename='images/mipairsscatter.png') }}" alt="Scatter Plots of Mutually informative variables">
            <p>If your dataset has more columns than rows this may fail.</p>
        {% if num_numeric > 3 %}
        <h2>Multivariate Analysis</h2>
        <h3>Parallel coordinate display</h3>
        <img src="{{ url_for('static', filename='images/parcoord.png') }}" alt="Parallel coordinate display">
        {% endif %}
        {% if num_numeric == 3 %}
        <h2>Multivariate Analysis</h2>
        <h3>3D scatterplot</h3>
        <img src="{{ url_for('static', filename='images/parcoord.png') }}" alt="Parallel coordinate display">
        {% endif %}
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
    $(document).ready(function(){
        $("#bivariate_analysis table td").each(function() {
            var num = parseFloat($(this).text());
            if (!isNaN(num)) {
                if (num > 0.5) {
                    $(this).addClass('positive');
                }
                if (num < -0.5) {
                    $(this).addClass('negative');
                }
            }
        });
    });
</script>
{% endif %}
</body>
</html>
