<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
    <title>Upload your CSV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><strong>df.&#x2118;()</strong>
</li>
      <li><a href="/">Home</a></li>
      <!-- Add more navigation links here -->
    </ul>
  </nav>
</header>
	<h1> df.&#x2118;() data analysis utility </h1>
	<p> Select a .csv file to upload:</p>
	<p></p>
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload') }}">
    <input type="file" name="datafile">
    <input type="submit" id="startAnalysisButton">
</form>

<p></p>
<p></p>
<div class="loader" id="spinner">
<h4 class="blink"> Loading... </h4>
</div>

<script>
  document.getElementById('startAnalysisButton').addEventListener('click', function() {
    document.getElementById('spinner').classList.add('loading');
  });
</script>

</body>
</html>
